<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Quest Store">
    <meta name="keywords" content="web, design, quest store, html, css, js, java, sql">
    <meta name="author" content="Patryk Lichwała, Krzysztof Czaja">
    <title>Quest Store | Classes Form</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <div class="container">
        <div id="logout">
            <p>Logged as: {{ fullName }} </p>
            <form method="GET">
                <button type="submit" formaction="/logout">Logout</button>
            </form>
        </div>
        <header>
            <h1 >Quest Store</h1>
        </header>
        <nav>
            <ul class="menu">
                <li><a href="/admin">Mentors</a></li>
                <li><a href="/classes">Classes</a></li>
                <li><a href="/experienceLevels">Experience level</a></li>
            </ul>
        </nav>

        <section id="content">
            <div class="item">
                <form method="POST">
                    <label for="className">Name</label>
                    <input class="full-frame-width" type="text" name="className" id="className" value=" {{ class.getClassName() }}" {{ disabled }}>
                    <button type="submit" formaction="/classes/{{ operation }}" {{ disabled }}>Submit</button>
                    <button type="button" value="Cancel" onclick="location.href='/classes'">Cancel</button>
                </form>

                {% if (students.size() != 0) %}
                    <section class="results" id="results">
                        <h3>Codecoolers in class:</h3>
                        {% for student in students %}
                            <p>{{ student.getFirstName() }}</p>
                        {% endfor %}
                    </section>
                {% endif %}
            </div>
        </section>
        <footer>
            <p>Chlur&Chlurs Company &copy; 2019</p>
        </footer>
    </div>
</body>
</html>