<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Quest Store">
    <meta name="keywords" content="web, design, quest store, html, css, js, java, sql">
    <meta name="author" content="Patryk Lichwała, Krzysztof Czaja">
    <title>Quest Store | Add Mentor</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div id="logout">
            <p>Logged as: {{ fullName }} </p>
            <form method="GET">
                <button type="submit" formaction="/logout">Logout</button>
            </form>
        </div>
        <header>
            <h1 >Quest Store</h1>
        </header>
        <nav>
            <ul class="menu">
                <li><a href="/admin">Mentors</a></li>
                <li><a href="/admin/classes">Classes</a></li>
                <li><a href="/admin/experienceLevels">Experience level</a></li>
            </ul>
        </nav>

        <div id="mentor-content">
            <section id="content" class="set-mentors">
                <aside class="item" id="mentor-aside">
                    <span class="mentor-pic"><img src="/static/images/mentor.png" alt="Mentor picture"></span>
                </aside>
                <form method="POST">
                    <div id="mentor-data">
                        <div id="mentor-overall" class="item">
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstName" id="firstName" value="{{ mentor.getFirstName() }}" {{ disabled }}>
                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastName" id="lastName" value="{{ mentor.getLastName() }}" {{ disabled }}>
                            <label for="type">Type</label>
                            <input type="text" name="type" id="type" value="{{ mentor.getType() }}" {{ disabled }}>
                        </div>

                        <div id="mentor-login" class="item">
                            <label for="mentorLogin">Login</label>
                            <input type="text" name="mentorLogin" id="mentorLogin" value="{{ mentor.getLogin() }}" {{ disabled }} {{ operationDisabled }}>
                            <label for="mentorPassword">Password</label>
                            <input type="password" name="mentorPassword" id="mentorPassword" {{ disabled }} {{ operationDisabled }}>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" value="{{ mentor.getEmail() }}" {{ disabled }}>
                        </div>
                    </div>

                    <div class="item" id="classes">
                        <label for="classes-id">Classes</label>
                        {% if (mentorClasses.size() != 0) %}
                            {% for class in mentorClasses %}
                                <input type="checkbox" name="class{{ class.getId() }}" value="{{ class.getId() }}" id="classes-id" {{ disabled }} {{ checked }}> {{ class.getClassName() }}
                            {% endfor %}
                        {% endif %}

                        {% if (emptyClasses.size() != 0) %}
                            {% for class in emptyClasses %}
                                <input type="checkbox" name="class{{ class.getId() }}" value="{{ class.getId() }}" id="classes-id" {{ disabled }}> {{ class.getClassName() }}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="edit-options" id="form-button-mentor">
                        <button type="submit" formaction="/admin/{{ operation }}" {{ disabled }}>Submit</button>
                        <button type="reset" value="Reset" {{ disabled }}>Reset</button>
                        <button type="button" value="Cancel" onclick="location.href='/admin'">Cancel</button>

                    </div>
                </form>
            </section>
        </div>

        <section class="results item" id="results">
            <h3>Students in class:</h3>
            {% for student in students %}
                <p>{{ student.getFirstName() }} {{ student.getLastName() }}</p>
            {% endfor %}
        </section>
        <footer>
            <p>Chlur&Chlurs Company &copy; 2019</p>
        </footer>
    </div>
</body>
</html>




