<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Quest Store">
    <meta name="keywords" content="web, design, quest store, html, css, js, java, sql">
    <meta name="author" content="Patryk Lichwała, Krzysztof Czaja">
    <title>Quest | View</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div id="logout">
            <p>Logged as: {{ fullName }} </p>
            <form method="GET">
                <button type="submit" formaction="/logout">Logout</button>
            </form>
        </div>
            <header>
                <h1 >Quest Store</h1>
            </header>
        <nav>
            <ul class="menu">
                <li><a href="/mentor">Codecooler</a></li>
                <li><a href="/quest">Quest</a></li>
                <li><a href="/artifact">Artifact</a></li>
            </ul>
        </nav>
        <section id="tools">
            <button type="button" onclick="location.href='questData.html'">+</button>
        </section>
        <section id="content">
            {% for quest in quests %}
            <div class="item wider">
                <div class="edit-options">
                    <a href="/quest/view/{{ quest.getId() }}"><img class="eye" src="/static/images/eye.png" alt="View"></a>
                    <a href="/quest/edit/{{ quest.getId() }}"><img class="edit" src="/static/images/pencil.png" alt="Edit"></a>
                    <a href="/quest/delete/{{ quest.getId() }}"><img class="remove" src="/static/images/remove.png" alt="Delete"></a>
                </div>
                <section class="artifact-head">
                    <h2>{{ quest.getName() }}</h2>
                    <div class="coins"><p>{{ quest.getPrice() }}</p></div>
                    <img src="{{ quest.getImageLink() }}" alt="{{ quest.getName() }}">
                    {% if (quest.getCategory() == "NORMAL") %}
                        <span class="category-solo"></span>
                    {% else %}
                        <span class="category-group"></span>
                    {% endif %}
                </section>
                <section class="quest-description">
                    <p>{{ quest.getDescription() }}</p>
                </section>
            </div>
            {% endfor %}
        </section>
        <footer>
            <p>Chlur&Chlurs Company &copy; 2019</p>
        </footer>
    </div>
</body>
</html>